* {
   margin: 0;
   padding: 0;
   font-family: 'Oswald', sans-serif;

}
:root {
    --pageBlue: #324897;
    --pageRed: #DC124A;
    --pageGray: #3B3B3B;
}
.container {
    height: 100%;
    width: 100%;
    padding-top: 64px;    
}
.container .menu_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 63px;
    width: 100%;
    box-shadow: 10px 0px 10px gray; 
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: white;
}
.container .menu_container .main_logo{
    height: 50px;
    width: 30%;
    margin-left: 20px;
}
.container .menu_container .main_logo img {
    display: block;
    height: 90%;
}
.container .menu_container .dropdown {
    display: block;
    margin-left: auto;
    margin-right: 20px;
}
.container .menu_container .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0px;
    background-color: white;
    transition: all .3s ease-out;
    overflow: hidden;
    flex-direction: column;
    z-index: 2;
}
.container .menu_container .menu  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.container .menu_container .menu  ul li {
    font-size: 1.3rem;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.container .menu_container .menu  ul li a {
    text-decoration: none;
}
.container .menu_container .menu .close_dropdown {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .menu_container .menu .close_dropdown img {
    transform: rotate(180deg);
    padding-top: 100px;
    cursor: pointer;
}
.hero_section {
    position: relative;
    height: 21.42vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url(exported/matchPicture.png);
}
.hero_section img {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.hero_section .hero_info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;    
}
.next_match {
    height: 20.64vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
}
.team-one-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-one-logo img{
    height: 64px;
}
.team-two-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-two-logo img{
    height: 64px;
}
.select_league_dropdown {
    position: relative;
    height: 33px;
    width: 100%;
    box-shadow: 2px 0px 5px gray;
    transition: all .3s ease-out;
    overflow: hidden;
}
.select_league_dropdown .dropdown_click_area {
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.select_league_dropdown .dropdown_click_area div:nth-child(1) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.select_league_dropdown .dropdown_click_area div:nth-child(2) {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 33px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_league_dropdown .select_league-container {
    height: calc(100% - 33px);
    width: 100%;
}
.select_league_dropdown .select_league-container ul {
    margin-top: 20px;
    list-style: none;
    text-align: center;
}
.select_league_dropdown .select_league-container ul li {
    padding: 10px 0px;
    cursor: pointer;
    width: 200px;
    transition: all .5s ease-out;
    margin: 0 auto;
}
.select_league_dropdown .select_league-container ul li:hover {
    border-bottom: 2px solid red;
}

.matches_container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.matches_container .match_card{
    height: 100%;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 0px 10px -5px gray;
    font-size: 0.7rem;
}
.matches_container .match_card .match_card-home{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.matches_container .match_card .match_card-home img {
    margin-right: 10px;
    margin-left: 20px;
    height: 21px;
}
.matches_container .match_card .match_card-away{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.matches_container .match_card .match_card-away img {
    margin-left: 10px;
    margin-right: 20px;
    height: 21px;
}
.matches_container .match_card .match_card-time{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.match_date {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.warning {
    height: 200px;
    width: 100%;
    color: #e3e3e3;
    font-size: 2rem;
    margin-top: 20px;
    display: none;
    text-align: center;
    font-weight: bold;
}
.prediction_container {
    width: 100%;
    max-width: 700px;
    height: 500px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 3;
    transition: all .4s ease-out;
    box-shadow: -5px -5px 20px -5px gray;
}
.prediction_heading {
    position: relative;
    height: 64px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prediction_content {
    opacity: 0;
    animation: fadeIn .5s ease-out 1s forwards;
}
.prediction_heading .prediction_minimize {
    height: 64px;
    width: 64px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.prediction_heading .prediction_minimize div {
    height: 5px;
    width: 20px;
    background-color: white;
}
.prediction_container .prediction_teamname {
    height: 150px;
    width: 100%;
    display: flex;
    font-weight: bold;
}
.prediction_container .prediction_teamname .prediction_home_team {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.prediction_container .prediction_teamname .prediction_home_team img {
    margin-left: 15px;
}
.prediction_container .prediction_teamname .prediction_home_team .prediction_home_team_name {
    margin-left: 10px;
}
.prediction_container .prediction_teamname .prediction_away_team {
    flex: 1;
    height: 100%;
}
.prediction_container .prediction_teamname .prediction_score {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prediction_container .prediction_teamname .prediction_away_team {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.prediction_container .prediction_teamname .prediction_away_team img {
    margin-right: 15px;
}
.prediction_container .prediction_teamname .prediction_away_team .prediction_away_team_name {
    margin-right: 10px;
}
.prediction_container .prediction_teamname .prediction_away_team {
    flex: 1;
    height: 100%;
}
.prediction_winchance {
    height: 100px;
    width: 100%;
}
.prediction_winchance .prediction_winchance-bar {
    margin: 0 auto;
    width: 80%;
    height: 10px;
    display: flex;
    justify-content: center;
}
.home-winchance {
    height: 100%;
    background-color: var(--pageRed);
    width: 45%;
}
.home-winchance p {
    transform: translateY(-25px);
} 
.draw-chance {
    height: 100%;
    background-color: var(--pageGray);
    width: 10%;
}
.draw-chance p {
    transform: translateY(-25px);
    text-align: center;
} 
.away-winchance {
    height: 100%;
    background-color: var(--pageBlue);
    width: 45%;
}
.away-winchance p {
    transform: translateY(-25px);
    float: right;
} 
.prediction_winchance-info {
    width: 80%;
    display: flex;
    margin: 0 auto;
    font-size: 0.7rem;
}
.prediction_winchance-info-home {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.prediction_winchance-info-home .home-winchance-color{
    height: 10px;
    width: 10px;
    background-color: var(--pageRed);
    margin-right: 10px;
}
.prediction_winchance-info-away {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
.prediction_winchance-info-away .away-winchance-color{
    height: 10px;
    width: 10px;
    background-color: var(--pageBlue);
    margin-right: 10px;
}
.prediction_winchance-info-draw {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
.prediction_winchance-info-draw .draw-color{
    height: 10px;
    width: 10px;
    background-color: var(--pageGray);
    margin-right: 10px;
}
.prediction_stat {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.prediction-home-stat .stat-label p {
    text-align: right;
}
.prediction-away-stat .stat-label p {
    text-align: left;
}
.prediction-home-stat {
    flex: 1;
}
.prediction-away-stat {
    flex: 1;
}
.prediction-home-stat .stat_view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.prediction-away-stat .stat_view {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.stat_bar {
    transition: all 1s ease-out;
    height: 5px;
}
.prediction-home-stat .stat_bar {
    background-color: var(--pageRed);
    margin-left: 10px;
}
.prediction-away-stat .stat_bar {
    background-color: var(--pageBlue);
    margin-right: 10px;
}
.prediction-home-possession .stat_bar{
    width: 75%; 
}
.prediction-home-att .stat_bar{
    width: 40%;    
}
.prediction-home-def .stat_bar{
    width: 60%;
}
.prediction-away-possession .stat_bar{
    width: 25%; 
}
.prediction-away-att .stat_bar{
    width: 60%;    
}
.prediction-away-def .stat_bar{
    width: 40%;
}

.stat_divider {
    height: 100%;
    width: 2px;
    background-color: var(--pageGray);
    margin-left: 10px;
    margin-right: 10px;
}
.region_selection {
    display: none;
}


@media only screen and (orientation: landscape) and (min-width: 1000px) {
    .hero_section {
        height: 400px;
        position: relative;
    }
    .region_selection {
        display: block;
        position: absolute;
        left: -50px;
        top: 30px;
    }
    .region_selection div {
        height: 80px;
        width: 300px;
        background-color: black;
        border-right: 5px solid red;
        font-size: 2rem;
        color: white;
        font-weight: bold;
        transition: all .4s ease-out;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .region_selection .selected {
        width: 350px !important;
        cursor: default;
    }
    
    .next_match-info {
        flex: 1;
    }
    .region_selection div:hover {
        width: 350px;
    }
    
}
@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}