* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
 
 }
html {
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
html::-webkit-scrollbar {
    display: none;
}
:root {
    --pageBlue: #324897;
    --pageRed: #DC124A;
    --pageGray: #3B3B3B;
    --pageLightGray: #F2EEEE;
    --pageLightViolet: #D2D9F3;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.menu_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 63px;
    width: 100%;
    box-shadow: 10px 0px 10px gray; 
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: white;
}
.menu_container .main_logo{
    height: 50px;
    width: 30%;
    margin-left: 20px;
}
.menu_container .main_logo img {
    display: block;
    height: 90%;
}
.menu_container .dropdown {
    display: block;
    margin-left: auto;
    margin-right: 20px;
}
.menu_container .dropdown img {
    cursor: pointer;
}
.menu_container .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0px;
    background-color: white;
    transition: all .3s ease-out;
    overflow: hidden;
    flex-direction: column;
    z-index: 2;
}
.menu_container .menu  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu_container .menu  ul li {
    font-size: 1.3rem;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.menu_container .menu  ul li a {
    text-decoration: none;
}
.menu_container .menu  ul li a:hover {
    border-bottom: 2px solid black;
}
.menu_container .menu .close_dropdown {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_container .menu .close_dropdown img {
    transform: rotate(180deg);
    padding-top: 100px;
    cursor: pointer;
}
.container {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 63px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas: 
    "content"
    "versus"
    ;
}
.search {
    height: 60px;
    width: 100%;
    background-color: var(--pageLightViolet);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search_input_container input{
    padding: 0.8rem;
    border: none;
    width: 70vw;
    border-radius: 30px;

}
.search_text p {
    cursor: pointer;
}
.list {
    grid-area: content;   
    display: flex;
    overflow-x: hidden;
}
.leagues_list {
    height: 100%;
    box-sizing: content-box;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: margin .4s ease-in-out;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 200vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.leagues_list::-webkit-scrollbar {
    display: none;
}
.leagues_list ul {
    list-style: none;    
}
.leagues_list ul li {
    box-sizing: border-box;
    cursor: pointer;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: background-color .4s ease-in-out;
}
.leagues_list ul li:hover {
    background-color: var(--pageLightGray);
}
.leagues_list ul li img {
    height: 80%;
    margin-left: 20px;
}
.leagues_list ul li p {
    font-weight: lighter;
    margin-left: 20px;
}
.list_body {
    width: 100vw;
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.list_back {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 20px;    
}
.list_back:hover {
    background-color: var(--pageLightGray);
}
.versus {
    grid-area: versus;
    background-color: black;
    color: white;
}
.versus .expand {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
}
.versus .expand img {
    transform: translateY(-28px);
    cursor: pointer;
}
.versus .versus_teamname {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.versus .collapse {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
}
.versus .collapse img {
    cursor: pointer;
    transform: translateY(28px) rotate(180deg);
}
.history_container {
    position: absolute;
    left: 0px;
    top: 100vh;
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all .4s ease-out;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.history_container::-webkit-scrollbar {
    display: none;
}
.collapse_history {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.collapse_history img {
    transform: rotate(180deg);
    cursor: pointer;
}
.content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.team-info-panel {
    height: 180px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "home home home pl away away away"
        "hs hs hs pl as as as"
    ;
}
.team-info-panel .home-info {
    grid-area: home;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.team-info-panel .home-info p {
    margin-left: 10px;
    margin-right: 10px;
}
.team-info-panel .home-stat {
    grid-area: hs;
    font-weight: lighter;
}
.team-info-panel .match_played {
    grid-area: pl;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-info-panel .match_played p:nth-child(1) {
    text-align: center;
    font-size: 2rem;
    margin-top: 35px;
}
.team-info-panel .match_played p:nth-child(2) {
    text-align: center;
    font-weight: lighter;
    font-size: .8rem;
    margin-top: 10px;
}
.team-info-panel .match_played {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px gray;
}
.team-info-panel .away-info {
    grid-area: away;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}
.team-info-panel .away-info p {
    margin-right: 10px;
    margin-left: 10px;
}
.team-info-panel .away-stat {
    grid-area: as;
    font-weight: lighter;
    text-align: right;
}
.star_score img {
    height: 16px;
    display: none;
}
.prediction_winchance-bar {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}
.home-winchance {
    height: 100%;
    background-color: var(--pageRed);
    width: 45%;
}
.home-winchance p {
    transform: translateY(-25px);
} 
.draw-chance {
    height: 100%;
    background-color: var(--pageGray);
    width: 10%;
}
.draw-chance p {
    transform: translateY(-25px);
    text-align: center;
} 
.away-winchance {
    height: 100%;
    background-color: var(--pageBlue);
    width: 45%;
}
.away-winchance p {
    transform: translateY(-25px);
    float: right;
} 
.match_history {
    margin-top: 60px;
    transition: all .4s ease-out;
}
.match_history_card {
    margin-top: 40px;
    width: 100%;
    height: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.match_history_card::before {
    color: white;
    text-align: center;
    content: "Stadium: Old Trafford (Manchester)";
    position: absolute;
    left: 50%;
    top: -30px;
    height: 30px;
    width: 80%;
    transform: translateX(-50%);
    background-color: black;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}
.match_history_card .date_time {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}
.match_history_card .score {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.match_history_card .score p {
    margin-left: 10px;
    margin-right: 10px;
}
.match_history_card .stadium {
    display: none;
}
@media all and (orientation: landscape) and (min-width: 1000px)
{
    .list_body {
        width: 50vw;
        float: left;
    }
    .search_input_container input{
        width: 35vw;    
    }
    .list_back {
        display: none;
    }
    .team-info-panel .match_played p:nth-child(1) {
        margin-top: 0px;
    }
    .team-info-panel .match_played p:nth-child(2) {
        margin-top: 0px;
    }
    .team-info-panel .match_played {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px gray;
    }
    .match_history_card .score {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .match_history_card .stadium {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    }
    .match_history_card::before {
        display: none;
    }
    .match_history_card {
        margin-top: 10px;
    }
}